<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ACPI</key>
    <dict>
        <key>DSDT</key>
        <dict>
            <key>Debug</key>
            <false/>
            <key>DropOEM_DSM</key>
            <false/>
            <key>Fixes</key>
            <dict>
                <key>AddDTGP_0001</key>
                <true/>
                <key>FIX_ADP1_800000</key>
                <true/>
                <key>FixAirport_4000</key>
                <true/>
                <key>FixHDA_8000</key>
                <true/>
                <key>FixRegions_10000000</key>
                <true/>
                <key>NewWay_80000000</key>
                <true/>
            </dict>
            <key>Patches</key>
            <array>
                <dict>
                    <key>Comment</key>
                    <string>Rename GFX0 to IGPU</string>
                    <key>Find</key>
                    <data>
                    R0ZYMA==
                    </data>
                    <key>Replace</key>
                    <data>
                    SUdQVQ==
                    </data>
                </dict>
            </array>
            <key>ReuseFFFF</key>
            <false/>
        </dict>
        <key>DropTables</key>
        <array>
            <dict>
                <key>Signature</key>
                <string>SSDT</string>
                <key>TableId</key>
                <string>SaSsdt </string>
            </dict>
            <dict>
                <key>Signature</key>
                <string>SSDT</string>
                <key>TableId</key>
                <string>Cpu0Ist</string>
            </dict>
            <dict>
                <key>Signature</key>
                <string>DMAR</string>
            </dict>
            <dict>
                <key>Signature</key>
                <string>SSDT</string>
                <key>TableId</key>
                <string>CpuPm</string>
            </dict>
        </array>
        <key>SSDT</key>
        <dict>
            <key>DropOem</key>
            <false/>
            <key>EnableC6</key>
            <true/>
            <key>EnableC7</key>
            <true/>
            <key>Generate</key>
            <true/>
            <key>PluginType</key>
            <integer>1</integer>
        </dict>
    </dict>
    <key>Boot</key>
    <dict>
        <key>Arguments</key>
        <string>slide=0 debug=0x100</string>
        <key>Debug</key>
        <false/>
        <key>DefaultVolume</key>
        <string>mavr</string>
        <key>Legacy</key>
        <string>LegacyBiosDefault</string>
        <key>Secure</key>
        <false/>
        <key>Timeout</key>
        <integer>5</integer>
        <key>XMPDetection</key>
        <string>Yes</string>
    </dict>
    <key>Devices</key>
    <dict>
        <key>FakeID</key>
        <dict>
            <key>IntelGFX</key>
            <string>0x04128086</string>
            <key>WIFI</key>
            <string>0x43a014e4</string>
        </dict>
        <key>USB</key>
        <dict>
            <key>AddClockID</key>
            <true/>
            <key>FixOwnership</key>
            <true/>
            <key>Inject</key>
            <true/>
        </dict>
    </dict>
    <key>GUI</key>
    <dict>
        <key>Custom</key>
        <dict>
            <key>Entries</key>
            <array>
                <dict>
                    <key>Disabled</key>
                    <false/>
                    <key>FullTitle</key>
                    <string>UEFI Internal</string>
                    <key>Hidden</key>
                    <string>Always</string>
                    <key>Ignore</key>
                    <false/>
                    <key>NoCaches</key>
                    <false/>
                    <key>Type</key>
                    <string>Other</string>
                </dict>
            </array>
        </dict>
        <key>Mouse</key>
        <dict>
            <key>DoubleClick</key>
            <integer>500</integer>
            <key>Enabled</key>
            <false/>
            <key>Mirror</key>
            <false/>
            <key>Speed</key>
            <integer>8</integer>
        </dict>
        <key>Scan</key>
        <dict>
            <key>Entries</key>
            <true/>
            <key>Legacy</key>
            <false/>
            <key>Tool</key>
            <true/>
        </dict>
        <key>Theme</key>
        <string>bluemac</string>
    </dict>
    <key>Graphics</key>
    <dict>
        <key>Inject</key>
        <dict>
            <key>ATI</key>
            <false/>
            <key>Intel</key>
            <true/>
            <key>NVidia</key>
            <false/>
        </dict>
        <key>InjectEDID</key>
        <true/>
        <key>NvidiaSingle</key>
        <false/>
        <key>ig-platform-id</key>
        <string>0x04160000</string>
    </dict>
    <key>KernelAndKextPatches</key>
    <dict>
        <key>AppleRTC</key>
        <true/>
        <key>AsusAICPUPM</key>
        <false/>
        <key>Debug</key>
        <false/>
        <key>KernelCpu</key>
        <false/>
        <key>KernelHaswellE</key>
        <false/>
        <key>KernelLapic</key>
        <false/>
        <key>KernelPm</key>
        <true/>
        <key>KextsToPatch</key>
        <array>
            <dict>
                <key>Comment</key>
                <string>Second Stage patch 10.10</string>
                <key>Find</key>
                <data>
                AQAAdRc=
                </data>
                <key>Name</key>
                <string>IOGraphicsFamily</string>
                <key>Replace</key>
                <data>
                AQAAdBc=
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Patch MSI 3</string>
                <key>Find</key>
                <data>
                QcdHCAAAQAA=
                </data>
                <key>Name</key>
                <string>AppleUSBXHCI</string>
                <key>Replace</key>
                <data>
                QcdHCAAAAAA=
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>BCM94352HMB 5GHz Fix</string>
                <key>Find</key>
                <data>
                AVhU
                </data>
                <key>Name</key>
                <string>AirPortBrcm4360</string>
                <key>Replace</key>
                <data>
                AVhY
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>BCM94352HMB whitelist</string>
                <key>Find</key>
                <data>
                axAAAHUN
                </data>
                <key>Name</key>
                <string>AirPortBrcm4360</string>
                <key>Replace</key>
                <data>
                axAAAJCQ
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Disable ECC Memory in MacPro SMBIOS</string>
                <key>Find</key>
                <data>
                cgoATWFjUHJvNCwxAE1hY1BybzUsMQBY
                </data>
                <key>Name</key>
                <string>AppleTyMCEDriver</string>
                <key>Replace</key>
                <data>
                cgoAAAAAAAAAAAAAAAAAAAAAAAAAAABY
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Patch audio HDMI HD4400/4600 laptop</string>
                <key>Find</key>
                <data>
                BgAmCgEDAwMAAAACAAAwAQAAYAAAAABg2QoAANkKAAAA
                AAAAAAAAAAAACAACAAAAMAAAAAEFCQAABAAAhwAAAAIE
                CQAABAAAhwAAAP8AAAABAAAAQAAAAA8AAAABAQAABAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4AAAA=
                </data>
                <key>Name</key>
                <string>AppleIntelFramebufferAzul</string>
                <key>Replace</key>
                <data>
                BgAmCgEDAwMAAAACAAAAAQAAYAAAAABA2QoAANkKAAAA
                AAAAAAAAAAAAEAACAAAAMAAAAAEFEgAACAAAhwAAAAIE
                EgAACAAAhwAAAP8AAQABAAAAQAAAAA8AAAABAQAABAAA
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4AAAA=
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Handoff Fix</string>
                <key>Find</key>
                <data>
                SIXAdFwPt0g=
                </data>
                <key>Name</key>
                <string>IOBluetoothFamily</string>
                <key>Replace</key>
                <data>
                Qb4PAAAA61k=
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Still waiting for root 1</string>
                <key>Find</key>
                <data>
                60wAAOoD
                </data>
                <key>Name</key>
                <string>IOAHCIBlockStorage</string>
                <key>Replace</key>
                <data>
                60wAAOgB
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Enable PCI power management</string>
                <key>Find</key>
                <data>
                dU1Ii7voAQAA
                </data>
                <key>Name</key>
                <string>AppleUSBXHCI</string>
                <key>Replace</key>
                <data>
                601Ii7voAQAA
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Enable Trim on SSD</string>
                <key>Find</key>
                <data>
                QVBQTEUgU1NE
                </data>
                <key>Name</key>
                <string>IOAHCIBlockStorage</string>
                <key>Replace</key>
                <data>
                AAAAAAAAAAAA
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Disable XHCI</string>
                <key>Find</key>
                <data>
                QbzHAgDgPQABAAA=
                </data>
                <key>Name</key>
                <string>AppleUSBXHCI</string>
                <key>Replace</key>
                <data>
                QbzHAgDgPQAAAAA=
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Patch MSI 2</string>
                <key>Find</key>
                <data>
                QcdHCAAAQAA=
                </data>
                <key>Name</key>
                <string>AppleUSBXHCI</string>
                <key>Replace</key>
                <data>
                QcdHCAAAAAA=
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Still waiting for root 2</string>
                <key>Find</key>
                <data>
                dA5IjT2lkAAA
                </data>
                <key>Name</key>
                <string>IOAHCIBlockStorage</string>
                <key>Replace</key>
                <data>
                v8gAAACQkJCQ
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Enable USB3 after wake for Intel 8</string>
                <key>Find</key>
                <data>
                xoDIAAAAAQ==
                </data>
                <key>Name</key>
                <string>AppleUSBXHCI</string>
                <key>Replace</key>
                <data>
                xoDIAAAAAA==
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Patch MSI 1</string>
                <key>Find</key>
                <data>
                gUkIAABAAA==
                </data>
                <key>Name</key>
                <string>AppleUSBXHCI</string>
                <key>Replace</key>
                <data>
                gUkIAAAAAA==
                </data>
            </dict>
            <dict>
                <key>Comment</key>
                <string>Disable Intel</string>
                <key>Find</key>
                <data>
                9oDUAAAAgHU0
                </data>
                <key>Name</key>
                <string>AppleUSBXHCI</string>
                <key>Replace</key>
                <data>
                9oDUAAAAgOs0
                </data>
            </dict>
        </array>
    </dict>
    <key>RtVariables</key>
    <dict>
        <key>BooterConfig</key>
        <string>0x28</string>
        <key>CsrActiveConfig</key>
        <string>0x67</string>
    </dict>
    <key>SMBIOS</key>
    <dict>
        <key>BiosReleaseDate</key>
        <string>10/18/13</string>
        <key>BiosVendor</key>
        <string>Apple Inc.</string>
        <key>BiosVersion</key>
        <string>MBP112.88Z.0138.B02.1310181745</string>
        <key>Board-ID</key>
        <string>Mac-3CBD00234E554E41</string>
        <key>BoardManufacturer</key>
        <string>Apple Inc.</string>
        <key>BoardType</key>
        <integer>10</integer>
        <key>ChassisAssetTag</key>
        <string>MacBook-Aluminum</string>
        <key>ChassisManufacturer</key>
        <string>Apple Inc.</string>
        <key>ChassisType</key>
        <string>08</string>
        <key>Family</key>
        <string>MacBook Pro</string>
        <key>Manufacturer</key>
        <string>Apple Inc.</string>
        <key>Mobile</key>
        <true/>
        <key>ProductName</key>
        <string>MacBookPro11,2</string>
        <key>SerialNumber</key>
        <string>C02LV67QFD56</string>
        <key>Trust</key>
        <false/>
        <key>Version</key>
        <string>1.0</string>
    </dict>
    <key>SystemParameters</key>
    <dict>
        <key>InjectKexts</key>
        <string>Detect</string>
    </dict>
</dict>
</plist>
